{% extends 'base.html.twig' %}

{% block title %}New CallForProposal
{% endblock %}

{% block container_title %}Create new call
{% endblock %}

{% block header_content %}

	<a href="demo-dark.html#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
		<span class="ay-name" id="Day_Name">New</span>
		<i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
	</a>

{% endblock %}

{% block body %}
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	{{ include('call_for_proposal/_form.html.twig') }}

	<a href="{{ path('call_for_proposal_all') }}">back to list</a>
	<script src="{{ asset('ui/js/jquery.min.js') }}"></script>


	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function () {
$("#call_for_proposal_thematic_area").select2()
})
	</script>


{% endblock %}
