{% extends 'base.html.twig' %}

{% block title %}Submission{% endblock %}
{% block container_title %}Submission detail{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <dl class="row mb-0">
                    <div class="col-sm-2 text-sm-right">
                        <dt>
 gh
                        </dt>  
                    </div>
                    <div class="col-sm-10 text-sm-left">
                        <dd>
                            <div class="nowrap">
                                <div style="width: 100%;" class="text-success strong"> <strong> 
 fh
                                        </strong></div>
                            </div>
                            <small>Project duration  <strong>
                                     hj
                            </small>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="row m-t-sm">
            <div class="col-lg-12">
                <div class="panel blank-panel">
                    <div class="panel-heading">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Research detail</a></li>
                                <li><a class="nav-link" href="#tab-2" data-toggle="tab">Publication status</a></li>
                                <li><a class="nav-link" href="#tab-3" data-toggle="tab">Discussion</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="ibox">
                                            <div class="ibox-title">
                                                <h5>Research details</h5>
                                            </div>
                                            <div class="ibox-content">
                                                  <div class="table-responsive">
                                                    <table class="table shoping-cart-table">
                                                      <tbody>
                                                            <tr>

                                                                <td class="desc">
                                                                    <h3>
                                                                        <a href="#" class="text-navy">
                                                                            Abstract
                                                                        </a>
                                                                    </h3>
                                                                    <p class="medium">
{{ form_start(form) }}
        {{ form_widget(form) }}
     <input type='submit' value='save'> 
        {{ form_end(form) }}
        
                                                                    </p>


                                                                    <div class="m-t-sm">
                                                                        <a href="#" class="text-muted">Keywords</a>

                                                                    </div>
                                                                </td>


                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h4 class='text-success'>Research team</h4>
                                               ghk
                                                <h4 class='text-success'>Budget details</h4>
ghj
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane" id="tab-2">


 

                                <table class="table shoping-cart-table">

                                    <tbody>
                                        <tr>

                                            <td class="desc">
                                                <h3>
                                                    <a href="#" class="text-navy">
                                                        Comment from reviewer
                                                    </a>
                                                </h3>
                                                <p class="small">

 
                                                </p>
                                                <dl class="small m-b-none">
                                                    <dt>Revised at  </dt>
                                                </dl>

                                                <div class="m-t-sm">

                                                    gjh
                                                </div>
                                            </td>
                                            <td width="65" nowrap=nowrap>
                                                <h4 class='text-success'> Round khj </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                  kjh
                                </table>
                                <hr>
                                <h3 class='text-success'>Comment</h3>


                            </div>
                            <div class="tab-pane" id="tab-3">

 
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-3">
        <div class="wrapper wrapper-content project-manager">

            <h4>Project progress </h4>

 


            <h4>Overall budget </h4>
            <h5 class='text-inof'>Requested:b ETB</p>
                <p class='text-success'> Approved: hgkj ETB</p>
                <h4>Editorial Decisions </h4>

                <p class="small">
                    <a       class='btn btn-primary btn-xs btn-outline btn-block'>Assign Reviewer</a>
                </p>

                <h4>Abstract</h4>

                <p class="small">
ghk
                </p>

                <h5>Keywords:</h5>
                <ul class="tag-list" style="padding: 0">
                    Keywords
                </ul>
                <h5>Attachment files</h5>
                <ul class="list-unstyled project-files">


                </ul>

        </div>
    </div>
</div>
{% endblock %}
