{% extends 'homelayout.html.twig' %}
{% block breadcrumb %}{% endblock %}
 {% block pagehead %}Contact us {% endblock %}
 {% block title %}Contact us{% endblock %}

   
{% block body %}
 
 {% include 'page_includes/header_report.html.twig'%}
 <div class="row">
          <div class="col-md-12"> 
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">Contact us</h3>

               
              </div>
              <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand">
              <div class=""></div></div>
              <div class="chartjs-size-monitor-shrink">
              <div class=""></div></div></div>
 {{ contact_us |raw}}
              </div> 
            </div> 
            
          </div>
             
             
</div> 
         

{% endblock %}

   
