
            <!-- Profile Image -->
            <div class="card card-info card-outline">
              <div class="card-body card-info box-profile">
                <h5 class="profile-username text-center">
                <small>{% trans %}Researches{% endtrans %}</small></h6>
                <ul class="list-group list-group-unbordered mb-3">
                   
                  <li class="list-group-item">
                    <b>Grants</b> <a class="float-right">13,287</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>{% trans %}Apply for External Grant{% endtrans %}</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-light">
              <div class="card-header">
                <h3 class="card-title text-success">{%  trans %}About Us{%  endtrans %}</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                 

               
                <strong><i class="fas fa-bell mr-1"></i> Guidelines </strong>

                <p class="text-muted">
                  <span class="tag tag-danger">GUIDELINES AND PROCEDURES FOR RESEARCH</span>  <br>
                  Approved by Jimma University Senate on its deliberations of March, 2012
                </p>

                <hr>
 
                <strong><i class="fas fa-store-alt mr-1"></i> Data sets</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">College</span> 
                </p>

                <hr>
                <strong><i class="far fa-file-alt mr-1"></i> Researches</strong>

                <p class="text-muted">Research and community service vice president office</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
             
