<div class="modal fade bd-example-modal-lg" id="exampleModalLarge" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title m-0" id="myLargeModalLabel">Choose Reviewer</h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!--end modal-header-->
			<div class="modal-body" id="modal-body">
			
				<div class="form-group col-12">
				 
				</div>
				<!--end row-->

			</div>
			<!--end modal-body-->
			<div class="modal-footer">
				<button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Close</button>
			</div>
			<!--end modal-footer-->
		</div>
		<!--end modal-content-->
	</div>
	<!--end modal-dialog-->
</div>
<!--end modal-->
