<form method="post" action="{{ path('training_participant_delete', {'id': training_participant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ training_participant.id) }}">
    <button class="btn">Delete</button>
</form>
