{% extends 'base.html.twig' %}

{% block title %}New TrainingParticipant{% endblock %}

{% block body %}
    <h1>Create new TrainingParticipant</h1>

    {{ include('training_participant/_form.html.twig') }}

    <a href="{{ path('training_participant_index') }}">back to list</a>
{% endblock %}
