
Fnal report document submission
{{ form_start(finalreportform) }}
    {{ form_widget(finalreportform) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(finalreportform) }}


