{% extends 'base.html.twig' %}

{% block title %}New SubmissionBudget{% endblock %}

{% block body %}
    <h1>Create new SubmissionBudget</h1>

    {{ include('submission_budget/_form.html.twig') }}

    <a href="{{ path('submission_budget_index') }}">back to list</a>
{% endblock %}
