{% extends 'base.html.twig' %}

{% block title %}Edit Suffixe{% endblock %}

{% block body %}
    <h1>Edit Suffixe</h1>

    {{ include('suffixe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('suffixe_index') }}">back to list</a>

    {{ include('suffixe/_delete_form.html.twig') }}
{% endblock %}
