{% extends 'base.html.twig' %}

{% block title %}New Scholarship{% endblock %}

{% block body %}
    <h1>Create new Scholarship</h1>

    {{ include('scholarship/_form.html.twig') }}

    <a href="{{ path('scholarship_index') }}">back to list</a>
{% endblock %}
