{% extends 'base.html.twig' %}

{% block title %}New ResearchReport{% endblock %}

{% block body %}
    <h1>Create new ResearchReport</h1>

    {{ include('research_report/_form.html.twig') }}

    <a href="{{ path('research_report_index') }}">back to list</a>
{% endblock %}
