<form method="post" action="{{ path('collaborating_institution_delete', {'id': collaborating_institution.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collaborating_institution.id) }}">
    <button class="btn">Delete</button>
</form>
