{% extends 'base.html.twig' %}

{% block title %}Edit College{% endblock %}

{% block body %}
    <h1>Edit College</h1>

    {{ include('college/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('college_index') }}">back to list</a>

    {{ include('college/_delete_form.html.twig') }}
{% endblock %}
