{% extends 'base.html.twig' %}

{% block title %}New College{% endblock %}

{% block body %}
    <h1>Create new College</h1>

    {{ include('college/_form.html.twig') }}

    <a href="{{ path('college_index') }}">back to list</a>
{% endblock %}
