{% macro input(name,class) %}

	<div class="form-group col-4">
		<label>{{ form_label(name) }}
			{# <span class="text-danger">*</span> #}
		</label>
		{{ form_widget(name,{"attr":{"placeholder":"Enter "~name.vars.name}}) }}
		{{ form_errors(name) }}
	</div>
{% endmacro %}