{% extends 'base.html.twig' %}

{% block title %}Edit CoAuthor{% endblock %}

{% block body %}
    <h1>Edit CoAuthor</h1>

    {{ include('co_author/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('co_author_index') }}">back to list</a>

    {{ include('co_author/_delete_form.html.twig') }}
{% endblock %}
