{% extends 'homelayout.html.twig' %}
{% block title %}403
{% endblock %}
{% block noBreadcrumb %}

	

{% endblock %}
{% block body %}
  <div class="error-page">
        <h2 class="headline text-success">403</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-success"></i> Oops! Privileges</h3>

                                      <p>You don't have permission to access  this page.</p>


          	<div class="margin-top-30">
				<a href="javascript:history.go(-1)" class="btn btn-default">
					<i class="fa fa-arrow-left"></i>
					<span>Go Back</span>
				</a>
				<a href="{{path('homepage')}}" class="btn btn-primary">
					<i class="fa fa-home"></i>
					<span>Home</span>
				</a>
			</div>
        </div>
      </div>

{% endblock %}
