{% extends 'base.html.twig' %}

{% block title %}Edit user roles{% endblock %}
{% block container_title %}Edit users roles{% endblock %}

{% block body %}
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('keyword_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
